<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_1">Sayfalar</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_1">
                    <ul>
                        <li><a href="{{ url('users:home') }}">Ana Sayfa</a></li>
                        <li><a href="{{ url('users:search') }}">Avukat Bul</a></li>
                        <li><a href="{{ url('blog:posts') }}">Blog</a></li>
                        <li><a href="{{ url('we:faq') }}">Sıkça Sorulan Sorular</a></li>
                        <li><a href="{{ url('we:contact-us') }}">İletişim</a></li>
                        <li><a href="{{ url('we:about-us') }}">Hakkımızda</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_2">Hukuk Alanları</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_2">
                    <ul>
                        {% for tag in get_most_used_tags()[:10] %}
                            <li><a href="#">{{ tag.name }}</a></li>
                        {% endfor %}
                        <li><a href="{{ url('users:links') }}" style="opacity:0.5">Bütün Alanlar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-3 col-md-6">
                <h3 data-target="#collapse_4">BİZDEN HABERDAR OL !</h3>
                <div class="collapse dont-collapse-sm" id="collapse_4">
                    <div id="newsletter">
                        <div id="message-newsletter"></div>
                        <form method="post" name="newsletter_form" id="newsletter_form" disabled>
                            {{ csrf_input }}
                            <div class="form-group">
                                <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="E-Posta...">
                                <button type="submit" id="submit-newsletter" disabled><i class="arrow_carrot-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="follow_us">
                        <ul>
                            {% for media in get_media() %}
                                <li><a style="font-size: 2em" href="{{ media.link }}"><i class="{{ media.icon_class }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr>
        <div class="row add_bottom_25">
            <div class="col-lg-6">
                <ul class="footer-selector clearfix">
                    <li>
                        <div class="styled-select lang-selector">
                            <select>
                                <option value="English" selected>English</option>
                                <option value="French">French</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Russian">Russian</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="styled-select currency-selector">
                            <select>
                                <option value="US Dollars" selected>US Dollars</option>
                                <option value="Euro">Euro</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="#0">Kullanın Koşulları</a></li>
                    <li><span>© avvu.com.tr</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>