<!-- Start bookmark tab-pane -->
<div class="tab-pane"
     id="pills-bookmark"
     role="tabpanel"
     aria-labelledby="pills-bookmark-tab">
    <!-- Start Contact content -->
    <div>
        <div class="px-4 pt-4">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                    <h4 class="mb-3">Favoriler</h4>
                </div>
            </div>
        </div>
        <!-- end p-4 -->
        <!-- Start contact lists -->
        <div class="chat-message-list chat-bookmark-list" data-simplebar>
            <ul class="list-unstyled chat-list">
                <li id="contact-id-2" data-name="favorite" class="">
                    <a href="javascript: void(0);">
                        <div class="d-flex align-items-center">
                            <div class="chat-user-img online align-self-center me-2 ms-0">
                                <img src="{{ static('messenger/') }}images/users/avatar-2.jpg"
                                     class="rounded-circle avatar-xs"
                                     alt="">
                                <span class="user-status"></span>
                            </div>
                            <div class="overflow-hidden">
                                <p class="text-truncate mb-0">Steven Jury</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end contact lists -->
    </div>
    <!-- Start Contact content -->
</div>
<!-- End bookmark tab-pane -->
