<!-- Start left sidebar-menu -->
<div class="side-menu flex-lg-column">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="{{ url('messenger:messages') }}" class="logo logo-dark">
            <span class="logo-sm">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="30"
                     height="30"
                     viewBox="0 0 24 24">
                    <path d="M8.5,18l3.5,4l3.5-4H19c1.103,0,2-0.897,2-2V4c0-1.103-0.897-2-2-2H5C3.897,2,3,2.897,3,4v12c0,1.103,0.897,2,2,2H8.5z M7,7h10v2H7V7z M7,11h7v2H7V11z"/>
                </svg>
            </span>
        </a>
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="30"
                     height="30"
                     viewBox="0 0 24 24">
                    <path d="M8.5,18l3.5,4l3.5-4H19c1.103,0,2-0.897,2-2V4c0-1.103-0.897-2-2-2H5C3.897,2,3,2.897,3,4v12c0,1.103,0.897,2,2,2H8.5z M7,7h10v2H7V7z M7,11h7v2H7V11z"/>
                </svg>
            </span>
        </a>
    </div>
    <!-- end navbar-brand-box -->
    <!-- Start side-menu nav -->
    <div class="flex-lg-column my-0 sidemenu-navigation">
        <ul class="nav nav-pills side-menu-nav" role="tablist">
            {% set url_name = request.resolver_match.url_name %}
            <li class="nav-item"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-trigger="hover"
                data-bs-container=".sidemenu-navigation"
                title="Sohbetler">
                <a 
                    class="nav-link {% if url_name == 'messages' %}active{% endif %}"
                    href="{{ url('messenger:messages') }}">
                    <i class='bx bx-conversation'></i>
                </a>
            </li>
            <li class="nav-item"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-trigger="hover"
                data-bs-container=".sidemenu-navigation"
                title="Aramalar">
                <a class="nav-link {% if url_name == 'calls' %}active{% endif %}"
                id="pills-calls-tab"
                href="{{ url('messenger:calls') }}">
                    <i class='bx bx-phone-call'></i>
                </a>
            </li>
            <li class="nav-item"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-trigger="hover"
                data-bs-container=".sidemenu-navigation"
                title="Favoriler">
                <a class="nav-link"
                id="pills-bookmark-tab"
                data-bs-toggle="pill"
                href="#pills-bookmark"
                role="tab">
                    <i class='bx bx-bookmarks'></i>
                </a>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link light-dark"
                   href="#"
                   data-bs-toggle="tooltip"
                   data-bs-trigger="hover"
                   data-bs-placement="right"
                   data-bs-container=".sidemenu-navigation"
                   data-bs-html="true"
                   title="<span class='light-mode'>Gündüz</span> <span class='dark-mode'>Gece</span> Modu">
                <i class='bx bx-moon'></i>
            </a>
        </li>
        <li class="nav-item dropdown profile-user-dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <img src="{{ static('messenger/') }}/images/users/avatar-1.jpg"
                     alt=""
                     class="profile-user rounded-circle">
            </a>
            <div class="dropdown-menu">
                <a href="{{ url('users:profile-edit') }}" class="dropdown-item d-flex align-items-center justify-content-between">
                    Profilim 
                    <i class="bx bx-user-circle text-muted ms-1"></i>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center justify-content-between"
                   href="{{ url('users:home') }}">Siteye Git <i class="bx bx-log-out-circle text-muted ms-1"></i></a>
                <a class="dropdown-item d-flex align-items-center justify-content-between"
                   href="{{ url('users:logout') }}">Çıkış Yap <i class="bx bx-log-out-circle text-muted ms-1"></i></a>
            </div>
        </li>
    </ul>
</div>
<!-- end side-menu nav -->