{% extends 'origin/base.html' %}

{% from 'we/_macros.html' import faq %}

{% set header_class='header clearfix element_to_stick' %}
{% set header__container_class='container-fluid' %}

{% block title %}
	Sıkça Sorulan Sorular
{% endblock %}

{% block styles %}
	<link href="{{ static('css/help.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main>
		{% include('we/component/search-bar.html') %}
	    <div class="container margin_60_40">
	        <div class="main_title version_2">
	            <span><em></em></span>
	            <h2>Sıkça Sorulan Sorular</h2>
	        </div>
	        <div class="list_articles add_bottom_25 clearfix">
	            <ul>
					{% for object in object_list %}
						{{ faq(object.id,object.title,object.content) }}
					{% endfor %}
	            </ul>
	        </div>
	    </div>
	</main>
{% endblock %}