{% macro post_listed(object) -%}
    <div class="col-md-6">
        <article class="blog">
            <figure>
                <a href="{{ object.get_absolute_url() }}"><img src="{{ object.image.url }}" alt="">
                    <div class="preview"><span>Daha Fazla Oku</span></div>
                </a>
            </figure>
            <div class="post_info">
                <small><i class="fas fa-calendar"></i> {{ object.creation_date.date() }}</small>&nbsp;
                <small><i class="fas fa-tag"></i>
                    {% for index,tag in enumerate(object.tags.all()[:5]) %}
                        {{ tag.name }} 
                        {{ ',' if index+1 != object.tags.count()}}
                    {% endfor %}
                    {{ '...' if object.tags.all() }}
                </small>
                <h2><a href="{{ object.get_absolute_url() }}">{{ object.title }}</a></h2>
                <p>{{ object.content[:50] }}...</p>
                <ul>
                    <li>
                        <div class="thumb"><img src="{{ static('img/avatar.jpg') }}" alt=""></div> Admin
                    </li>
                    <li><i class="icon_comment_alt"></i>{{ object.comments.count() }}</li>
                </ul>
            </div>
        </article>
        <!-- /article -->
    </div>
{%- endmacro %}

{% macro post_sidebar(object) -%}
    <li>
        <div class="alignleft">
            <a href="{{ object.get_absolute_url() }}"><img src="{{ object.image.url }}" alt=""></a>
        </div>
        <small>{{ object.creation_date.date() }}</small>
        <h3><a href="{{ object.get_absolute_url() }}" title="">{{ object.title }}</a></h3>
    </li>
{% endmacro -%}

{%- macro comment(comment) %}
    <li>
        <div class="avatar">
            <a href="#"><img style="height:100%; width:100%; object-fit:cover" src="{{ comment.user.avatar.url }}" alt="">
            </a>
        </div>
        <div class="comment_right clearfix">
            <div class="comment_info">
                <a href="#">{{ comment.user.first_name }} {{ comment.user.last_name }}</a><span>|</span>{{ comment.creation_date.date() }}<span></span>
            </div>
            <p>
                {{ comment.content }}
            </p>
        </div>
    </li>
{% endmacro -%}