{% extends 'origin/base.html' %}
{% from 'origin/_macros.html' import alert %}
{% from 'posts/_macros.html' import post_sidebar, comment %}

{% set header_class='header_in shadow element_to_stick clearfix' %}
{% set header__container_class='container' %}

{% block title %}
	Blog Post
{% endblock %}

{% block styles %}
	<link href="{{ static('css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="bg_color">
        <div class="container margin_45_40">
            <div class="row">
                <div class="col-lg-9">
                    {% if messages %}
                        {% for message in messages %}
                            {{ alert(message.tags,message) }}
                        {% endfor %}
                    {% endif %}
                    <div class="singlepost">
                        <figure><img alt="" class="img-fluid" src="{{ object.image.url }}"></figure>
                        <h1>{{ object.title }}</h1>
                        <div class="postmeta">
                            <ul>
                                <li><a href="#"><i class="fas fa-tag"></i>
                                    {% for index,tag in enumerate(object.tags.all()) %}
                                        {{ tag.name }} 
                                        {{ ',' if index+1 != object.tags.count()}}
                                    {% endfor %}
                                </a></li>
                                <li><i class="icon_calendar"></i> Yayınlama Tarihi: {{ object.creation_date.date() }}</li>
                                <li><a href="#"><i class="icon_pencil-edit"></i> Admin</a></li>
                            </ul>
                        </div>
                        <!-- /post meta -->
                        <div class="post-content">
                            <p>
                                {{ object.content }}
                            </p>
                        </div>
                        <!-- /post -->
                    </div>
                    <!-- /single-post -->
                    <div id="comments">
                        <h5>Yorumlar ({{ object.comments.count() }})</h5>
                        <ul>
                            {% set comments = object.comments.all() %}
                            {% if comments %}
                                {% for comment_ in object.comments.all() %}
                                    {{ comment(comment_) }}
                                {% endfor %}
                            {% else %}
                                <p style="font-size:2em">Henüz yorum yok.</p>
                            {% endif %}
                        </ul>
                    </div>
                    <hr>
                    {% if request.user.is_authenticated %}
                        <h5>
                            {% if comments %}
                                Yorum yap
                            {% else %}
                                İlk yorumu sen yap!
                            {% endif %}
                        </h5>
                        <form method="post">
                            {{ csrf_input }}
                            <script>
                                function onTextAreaChange(value){
                                    console.log(value)
                                }
                            </script>
                            <div class="form-group">
                                <textarea 
                                    oninput="((value)=>{document.getElementById('textareaCounter').innerHTML = value.length})(this.value)" 
                                    required 
                                    class="form-control" 
                                    name="comment" 
                                    id="comments2" 
                                    rows="6" 
                                    placeholder="Düşüncelerini paylaş...">
                                </textarea>
                            </div>
                            <span><span id="textareaCounter">0</span>/200</span>
                            <div class="form-group">
                                <button type="submit" id="submit2" class="btn_1 add_bottom_15">Yayınla</button>
                            </div>
                        </form>
                    {% else %}
                        <h5>
                            Yorum yapmak için kayıt ol! &nbsp;
                            <a href="{{ url('users:register') }}" class="btn_1 add_bottom_15">Bize Katıl</a>
                        </h5>
                    {% endif %}
                </div>
                {% include 'posts/sidebar.html' %}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
{% endblock %}