{% extends 'origin/base.html' %}
{% from 'posts/_macros.html' import post_listed %}
{% from 'origin/_macros.html' import pagination %}

{% set header_class='header_in shadow element_to_stick clearfix' %}
{% set header__container_class='container' %}

{% block title %}
	Blog
{% endblock %}

{% block styles %}
	<link href="{{ static('css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="bg_color">

		<div class="container margin_45_40">			
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for object in object_list %}						
							{{ post_listed(object) }}
						{% endfor %}
					</div>
					<!-- /row -->

					{{ pagination(page_obj) }}

				</div>
				{% include 'posts/sidebar.html' %}
			</div>
			<!-- /row -->	
		</div>
		<!-- /container -->		
	</main>
{% endblock %}