<aside class="col-lg-3">
    <div class="widget search_blog">
        <div class="form-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Anahtar Kelimeler...">
            <span><input type="submit" value="Arama Yap"></span>
        </div>
    </div>
    <!-- /widget -->
    <div class="widget">
        <div class="widget-title first">
            <h4>Son Haberler</h4>
        </div>
        <ul class="comments-list">
            {{ post_sidebar() }}
            {{ post_sidebar() }}
            {{ post_sidebar() }}
            {{ post_sidebar() }}
        </ul>
    </div>
    <!-- /widget -->
    <div class="widget">
        <div class="widget-title">
            <h4>Popüler Tagler</h4>
        </div>
        <div class="tags">
            <a href="#">Lawyer</a>
            <a href="#">Accounting</a>
            <a href="#">Consulting</a>
            <a href="#">Doctors</a>
            <a href="#">Best Offers</a>
            <a href="#">Languages</a>
            <a href="#">Teach</a>
        </div>
    </div>
    <!-- /widget -->
</aside>