<div class="hero_single inner_pages background-image" style="background-image: url({{ static('img/access_bg.jpg') }})">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.7)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-md-8">
                    <h1>Yardım & Destek</h1>
                    <form>
                        <div class="search_bar">
                            <input type="text" class="form-control" placeholder="Ne aramıştınız?">
                            <input type="submit" value="Ara">
                        </div>
                    </form>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
</div>