<div class="box_booking mobile_fixed--custom" style="padding: 0.5em">
    <div class="head">
       <h3>Hesap Ayarları</h3>
       <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
   </div>
   <a class="custom-sidebar-button" href="{{ url('users:profile-edit') }}" style="margin-bottom:0.5em;">
       <i class="fas fa-user"></i>
       &nbsp;Hesap Bilgileri
   </a>
   <a class="custom-sidebar-button" href="{{ url('users:profile-password-edit') }}" style="margin-bottom:0.5em;">
       <i class="fas fa-key"></i>
       &nbsp;Parola Yönetimi
   </a>
   <a class="custom-sidebar-button" href="{{ url('users:logout') }}" style="margin-bottom:0.5em;">
       <i class="fas fa-sign-out"></i>
       &nbsp;Çıkış Yap
   </a>
</div>
<!-- /box_booking -->