{% extends 'origin/base.html' %}

{% set header_class='header_in shadow clearfix' %}
{% set header__container_class='container' %}

{% block title %}
	Profil Bilgileri Güncelle
{% endblock %}

{% block styles %}
	<link href="{{ static('css/detail-page.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="bg_color">
	    <div class="container margin_detail">
	        <div class="row">
	            <div class="col-xl-8 col-lg-7">
	                <div class="box_general">
	                	 <div style="overflow: hidden;min-height: 200px; background: rgba(0,0,0,0.1); position: relative;">
	                        <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: block; z-index: 2;">
		                        <i class="fas fa-camera"></i>&nbsp;
		                        Profil Fotoğrafınızı Aşağıda Seçiniz
	                        </span>
	                        <img id="pic" style="max-height: 400px; width: 100%; object-fit: cover;z-index: 3 ;position: relative" class="img-fluid">
	                    </div>
	                    <div class="main_info_wrapper">
	                    	<div class="row" style="margin-bottom:1em">
	                    		<div class="col-md-6">
			                    	<div style="margin-bottom:1em">
			                    		<label>Adınız</label>
					                    <input type="text" class="custom-input" value="example">
			                    	</div>
			                    	<label class="container_check">
			                    		Bedave Konsultasyon
	                                    <input type="checkbox">
	                                    <span class="checkmark"></span>
	                                </label>
	                    		</div>
	                    		<div class="col-md-6">
	                    			<div style="margin-bottom:1em">
			                    		<label>Profil Fotografınız</label>
					                    <input type="file" class="custom-input" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
			                    	</div>
	                    		</div>
	                    	</div>
	                    	<div style="margin-bottom:1em">
	                    		<label for="">Hakkınızda</label>
	                    		<textarea name="" id="" cols="30" rows="10" class="custom-input">
	                    			
	                    		</textarea>
	                    	</div>
	                    	<a href="#0" class="btn_1 full-width booking">Kaydet</a>
	                    </div>
	                    <!-- /main_info -->
	                </div>
	            </div>
	            <!-- /col -->
	            <div class="col-xl-4 col-lg-5 col-12" id="sidebar_fixed">
	                <div class="box_booking mobile_fixed--custom" style="padding: 0.5em">
	                     <div class="head">
	                        <h3>Hesap Ayarları</h3>
	                        <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
	                    </div>
	                	<a class="custom-sidebar-button" href="#" style="margin-bottom:0.5em;">
	                		<i class="fas fa-user"></i>
	                		&nbsp;Hesap Bilgileri
	                	</a>
	                	<a class="custom-sidebar-button" href="#" style="margin-bottom:0.5em;">
	                		<i class="fas fa-key"></i>
	                		&nbsp;Parola Yönetimi
	                	</a>
	                	<a class="custom-sidebar-button" href="#" style="margin-bottom:0.5em;">
	                		<i class="fas fa-sign-out"></i>
	                		&nbsp;Çıkış Yap
                		</a>
	                </div>
	                <!-- /box_booking -->
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	</main>
{% endblock %}

{% block specific_js %}
	<script src="{{ static('js/sticky_sidebar.min.js') }}"></script>
    <script src="{{ static('js/specific_detail.min.js') }}"></script>
	<script src="{{ static('js/datepicker.min.js') }}"></script>
	<script src="{{ static('js/datepicker_func_1.js') }}"></script>
{% endblock %}
