{% extends 'origin/base.html' %}

{% set header_class='header_in shadow clearfix' %}
{% set header__container_class='container' %}

{% block title %}
	Profil Bilgileri Güncelle
{% endblock %}

{% block styles %}
	<link href="{{ static('css/detail-page.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="bg_color">
	    <div class="container margin_detail">
	        <div class="row">
	            <div class="col-xl-8 col-lg-7">
	                <div class="box_general">
	                	 <div style="overflow: hidden;min-height: 200px; background: rgba(0,0,0,0.1); position: relative;">
	                        <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: block; z-index: 2;">
		                        <i class="fas fa-camera"></i>&nbsp;
		                        Profil Fotoğrafınızı Aşağıda Seçiniz
	                        </span>
	                        <img 
								id="pic" 
								src="{{object.avatar.url}}"
								style="max-height: 400px; width: 100%; object-fit: cover;z-index: 3 ;position: relative" 
								class="img-fluid"/>
	                    </div>
	                    <form method="post" class="main_info_wrapper" enctype="multipart/form-data">
							<div class="row">
								{% for field in form %}	
									{% if field.widget_type=='checkbox' %}
										<div class="col-md-12">
											<label class="container_check" style="margin-bottom:1em">
												{{ field.label }}
												{{ field }}
												<span class="checkmark"></span>
											</label>
										</div>
									{% elif field.widget_type=='textarea' %}
										<div class="col-md-12">
											<div style="margin-bottom:1em">
												{{ field.label }}:
												{{ field }}
											</div>
										</div>
									{% else %}
										<div class="col-md-6">
											<div style="margin-bottom:1em">
												{% if field.name == 'avatar' %}
													{{ field.field.widget.attrs.update({'onchange':'pic.src=window.URL.createObjectURL(this.files[0])'}) }}
												{% endif %}
												{{ field.label }}:
												{{ field }}
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							{{ csrf_input }}
	                    	<button type="submit" class="btn_1 full-width booking">Kaydet</button>
	                    </form>
	                    <!-- /main_info -->
	                </div>
	            </div>
	            <!-- /col -->
	            <div class="col-xl-4 col-lg-5 col-12" id="sidebar_fixed">
	                {% include 'users/template-parts/profile-edit-sidebar.html' %}
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	</main>
{% endblock %}

{% block specific_js %}
	<script src="{{ static('js/sticky_sidebar.min.js') }}"></script>
    <script src="{{ static('js/specific_detail.min.js') }}"></script>
	<script src="{{ static('js/datepicker.min.js') }}"></script>
	<script src="{{ static('js/datepicker_func_1.js') }}"></script>
{% endblock %}
