{% extends 'origin/base.html' %}
{% from 'origin/_macros.html' import alert %}

{% from 'users/_macros.html' import review %}

{% set header_class='header_in shadow clearfix' %}
{% set header__container_class='container' %}

{% block title %}
	Profil Datayları
{% endblock %}

{% block styles %}
	<link href="{{ static('/css/detail-page.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="bg_color">
	    <div class="container margin_detail">
	        <div class="row">
	            <div class="col-xl-8 col-lg-7">
	            	{% if messages %}
	            		{% for message in messages %}
	            			{{ alert(message.tags,message) }}
	            		{% endfor %}
	            	{% endif %}
	                <div class="box_general">
	                	 <div>
	                        <img src="{{ object.avatar.url }}" alt="" class="img-fluid">
	                    </div>
	                    <div class="main_info_wrapper">
	                        <div class="main_info clearfix">
	                            <div class="user_desc">
	                                <h3>{{ object.first_name }} {{ object.last_name }}</h3>
	                                <a href="{{ object.website }}" target="blank">Website'sini Ziyaret Edin</a></p>
	                                <ul class="tags no_margin">
										{% for tag in object.tags.all() %}
											<li><a href="#">{{tag.name}}</a></li>
										{% endfor %}
	                                </ul>
	                            </div>
	                            <div class="score_in">
	                                <div class="rating">
	                                    <div class="score"><span><em></em></span><strong>{{ object.rate }}</strong></div>
	                                </div>
	                                <a href="#0" class="wish_bt"><i class="icon_heart_alt"></i></a>
	                            </div>
	                        </div>
	                        <!-- /main_info_wrapper -->
	                        <hr>
	                        <h4>Hakkında</h4>
	                        <p>
								{{object.bio if object.bio else 'Avukat hakkında birşey yazmadı...'}}
							</p>
	                    </div>
	                    <!-- /main_info -->
	                </div>
	                <!-- /box_general -->
	                <div class="box_general">
	                    <div class="tabs_detail">
	                        <ul class="nav nav-tabs" role="tablist">
	                            <li class="nav-item">
	                                <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">
	                                	Yorumlar 
	                                	({{ object.destination_reviews.count() }})
	                                </a>
	                            </li>
	                        </ul>
	                        <div class="tab-content" role="tablist">

	                            <div id="pane-B" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-B">
	                                <div class="card-header" role="tab" id="heading-B">
	                                    <h5>
	                                        <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
	                                            Reviews
	                                        </a>
	                                    </h5>
	                                </div>
	                                <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
	                                    <div class="card-body reviews">
	                                        <div id="reviews">
	                                        	{% set reviews=object.destination_reviews.all() %}
	                                        	{% if reviews %}
													{% for review_ in reviews %}
														{{ review(review_) }}
													{% endfor %}
												{% else %}
													<h3 style="color: rgba(0,0,0,0.5); margin-bottom: 1em; text-align: center;">
														<i class="fas fa-poo"></i>
														&nbsp;
														Bu kullanıcı henüz yorum almadı...
													</h3>
												{% endif %}
	                                        </div>
	                                        <!-- /reviews -->
	                                        <p class="text-right"><a href="{{ url('users:review-create',args=[object.id]) }}" class="btn_1">Yorum Bırak</a></p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- /tab-content -->
	                    </div>
	                    <!-- /tabs_detail -->
	                </div>
	            </div>
	            <!-- /col -->
	            <div class="col-xl-4 col-lg-5" id="sidebar_fixed">
	                <div class="box_booking mobile_fixed">
	                    <div class="head">
	                        <h3>Booking</h3>
	                        <a href="#0" class="close_panel_mobile"><i class="icon_close"></i></a>
	                    </div>
	                    <!-- /head -->
	                    <div class="main">
	                        <div class="radio_select type">
	                            <ul>
	                                <li>
	                                    <input type="radio" id="appointment" name="type" value="12.00pm">
	                                    <label for="appointment"><i class="icon-users"></i> Appointment</label>
	                                </li>
	                                <li>
	                                    <input type="radio" id="chat" name="type" value="12.30pm">
	                                    <label for="chat"><i class="icon-chat"></i> Chat</label>
	                                </li>
	                                <li>
	                                    <input type="radio" id="video" name="type" value="1.00pm">
	                                    <label for="video"><i class="icon-videocam"></i> Video Call</label>
	                                </li>
	                            </ul>
	                        </div>
	                        <!-- /type -->
	                        <input type="text" id="datepicker_field">
	                        <div id="DatePicker"></div>
	                        <div class="dropdown time">
	                            <a href="#" data-toggle="dropdown">Hour <span id="selected_time"></span></a>
	                            <div class="dropdown-menu">
	                                <div class="dropdown-menu-content">
	                                    <div class="radio_select">
	                                        <ul>
	                                            <li>
	                                                <input type="radio" id="time_1" name="time" value="12.00pm">
	                                                <label for="time_1">12.00<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_2" name="time" value="12.30pm">
	                                                <label for="time_2">12.30<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_3" name="time" value="1.00pm">
	                                                <label for="time_3">1.00<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_4" name="time" value="1.30pm">
	                                                <label for="time_4">1.30<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_5" name="time" value="2.00pm">
	                                                <label for="time_5">2.00<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_6" name="time" value="02.30pm">
	                                                <label for="time_6">2.30<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_7" name="time" value="03.00pm">
	                                                <label for="time_7">3.00<small>pm</small></label>
	                                            </li>
	                                            <li>
	                                                <input type="radio" id="time_8" name="time" value="03.30pm">
	                                                <label for="time_8">3.30<small>pm</small></label>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                    <!-- /time_select -->
	                                </div>
	                            </div>
	                        </div>
	                        <!-- /dropdown -->
	                        <a href="booking.html" class="btn_1 full-width booking">Mesaj Yaz</a>
	                    </div>
	                </div>
	                <!-- /box_booking -->
	                <div class="btn_reserve_fixed"><a href="#0" class="btn_1 full-width booking">Mesaj Yaz</a></div>
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	</main>
{% endblock %}

{% block scripts %}
	<script src="{{ static('js/sticky_sidebar.min.js') }}"></script>
    <script src="{{ static('js/specific_detail.min.js') }}"></script>
	<script src="{{ static('js/datepicker.min.js') }}"></script>
	<script src="{{ static('js/datepicker_func_1.js') }}"></script>
{% endblock %}
