{% extends 'origin/base.html' %}
{% from 'origin/_macros.html' import alert %}

{% set header_class='header_in shadow clearfix' %}
{% set header__container_class='container' %}

{% block title %}
	Parola Değiştirme
{% endblock %}

{% block styles %}
	<link href="{{ static('css/detail-page.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="bg_color">
	    <div class="container margin_detail">
	        <div class="row">
	            <div class="col-xl-8 col-lg-7">
	                <div class="box_general">
	                    <div class="main_info_wrapper">
							<form method="post">
								{{ csrf_input }}
								{% if form.errors %}
									{% for key,value in form.errors.items() %}
										{{ alert('error',value.as_text()) }}
									{% endfor %}
								{% endif %}
								{% if messages %}
									{% for message in messages %}
										{{ alert(message.tags,message) }}
									{% endfor %}
								{% endif %}
								{% for field in form %}
										<div style="margin-bottom:1em">
											<label>{{ field.label }}</label>
											{{ field.field.widget.attrs.update({'class': 'custom-input'}) or '' }}
											{{ field }}
										</div>
								{% endfor %}
								<button type="submit" class="btn_1 full-width booking">Kaydet</button>
							</form>
	                    </div>
	                    <!-- /main_info -->
	                </div>
	            </div>
	            <!-- /col -->
	            <div class="col-xl-4 col-lg-5 col-12" id="sidebar_fixed">
	                {% include 'users/template-parts/profile-edit-sidebar.html' %}
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	</main>
{% endblock %}

{% block specific_js %}
	<script src="{{ static('js/sticky_sidebar.min.js') }}"></script>
    <script src="{{ static('js/specific_detail.min.js') }}"></script>
	<script src="{{ static('js/datepicker.min.js') }}"></script>
	<script src="{{ static('js/datepicker_func_1.js') }}"></script>
{% endblock %}
