{% extends 'origin/base-raw.html' %}
{% from 'origin/_macros.html' import alert %}

{% block title %}Kayıt Ol{% endblock %}

{% set body_id='register_bg' %}

{% block body %}
  <nav id="menu" class="fake_menu"></nav>
  <div id="login">
    <aside>
      <figure>
        <a href="{{ url('users:home') }}"><img src="{{ static('img/logo.svg') }}" width="120" height="35" alt=""
            class="logo_sticky"></a>
      </figure>
      <div class="access_social">
        <a href="#" class="social_bt facebook">Facebook ile giriş yap</a>
        <a href="#" class="social_bt google">Google ile giriş yap</a>
      </div>
      <div class="divider"><span>veya</span></div>
      <form action="{{ url ('users:register') }}" method="POST" autocomplete="off">
        <br>
        {{ csrf_input }}
        {% if form.errors %}
          {% for key,value in form.errors.items() %}
            {{ alert('error',value.as_text()) }}
          {% endfor %}
        {% endif %}
        {% if messages %}
          {% for message in messages %}
            {{ alert(message.tags,message) }}
          {% endfor %}
        {% endif %}
        <div class="form-group">
          {{ form.first_name }}
          <i class="icon_pencil-edit"></i>
        </div>
        <div class="form-group">
          {{ form.last_name }}
          <i class="icon_pencil-edit"></i>
        </div>
        <div class="form-group">
          {{ form.email }}
          <i class="icon_mail_alt"></i>
        </div>
        <div class="form-group">
          {{ form.password1 }}
          <i class="icon_lock_alt"></i>
        </div>
        <div class="form-group">
          {{ form.password2 }}
          <i class="icon_lock_alt"></i>
        </div>
        <div id="pass-info" class="clearfix"></div>
        <button type="submit" class="btn_1 rounded full-width">Hesap oluştur!</button>
        <div class="text-center add_top_10"><strong><a href="{{ url('users:login') }}">Benim hesabım var</a></strong>
      </form>
      <div class="copy">© avvu.com.tr</div>
    </aside>
  </div>
{% endblock %}x