{% extends 'origin/base-raw.html' %}

{% block title %}Register{% endblock %}

{% set body_id='register_bg' %}

{% block body %}
  <nav id="menu" class="fake_menu"></nav>
  <div id="login">
    <aside>
      <figure>
        <a href="index-2.html"><img src="{{ static('img/logo_sticky.svg') }}" width="120" height="35" alt=""
            class="logo_sticky"></a>
      </figure>
      <div class="access_social">
        <a href="#" class="social_bt facebook">Register with Facebook</a>
        <a href="#" class="social_bt google">Register with Google</a>
      </div>
      <div class="divider"><span>Or</span></div>
      <form action="{{ url ('users:register') }}" method="POST" autocomplete="off">
        {{ csrf_input }}
        {{ form.errors }}
        <div class="form-group">
          {{ form.first_name }}
          <i class="icon_pencil-edit"></i>
        </div>
        <div class="form-group">
          {{ form.last_name }}
          <i class="icon_pencil-edit"></i>
        </div>
        <div class="form-group">
          {{ form.email }}
          <i class="icon_mail_alt"></i>
        </div>
        <div class="form-group">
          {{ form.password1 }}
          <i class="icon_lock_alt"></i>
        </div>
        <div class="form-group">
          {{ form.password2 }}
          <i class="icon_lock_alt"></i>
        </div>
        <div id="pass-info" class="clearfix"></div>
        <button type="submit" class="btn_1 rounded full-width">Register Now!</button>
        <div class="text-center add_top_10">Already have an acccount? <strong><a href="{{ url('users:login') }}">Login!</a></strong>
      </form>
      <div class="copy">© 2020 Prozim</div>
    </aside>
  </div>
{% endblock %}x