{% extends 'origin/base.html' %}
{% from 'users/_macros.html' import lawyer_card  %}
{% from 'origin/_macros.html' import pagination %}

{% set header_class="header_in clearfix" %}
{% set header__container_class="container" %}

{% block title %}
    Avukat Ara bul
{% endblock %}

{% block styles %}
    <link href="{{ static('css/listing.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="bg_color">
       
        <!-- /filters_full -->
        <div class="container margin_30_40">
            <div class="page_header">
                <h1>814</h1><span> sonuç bulundu.</span>
            </div>
            <div class="row">
                <aside class="col-lg-3" id="sidebar_fixed">
                    <form class="filter_col">
                        <h3>Filtreler</h3>
                        <hr>
                        
                        {% for field in filter.form %}	
                            <div style="margin-bottom:1em">
                                {% if field.name == 'avatar' %}
                                    {{ field.field.widget.attrs.update({'onchange':'pic.src=window.URL.createObjectURL(this.files[0])'}) }}
                                {% endif %}
                                {{ field.label }}:
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="buttons">
                            <div class="d-flex" style="gap:5px">
                                <button type="submit" class="btn_1 full-width">Filtrele</button>
                                <a href="." class="btn_1 full-width" style="background: black;">Sıfırla</a>                                    
                            </div>
                        </div>
                    </form>
                </aside>
                <div class="col-lg-9">
                    <div class="row grid_sidebar">
                        {% for object in object_list %}
                            {{ lawyer_card(object,request.user) }}
                        {% endfor %}
                    </div>
                    {{ pagination(page_obj,filter_params) }}
                </div>
                <!-- /col -->
            </div>
        </div>
        <!-- /container -->
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ static('js/sticky_sidebar.min.js') }}"></script>
    <script src="{{ static('js/specific_listing.min.js') }}"></script>
    <script src="{{ static('js/isotope.min.js') }}"></script>
    <script>
    $(window).on("load", function() {
        var $container = $('.isotope-wrapper');
        $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
    });
    $('.switch-field').on('click', 'input', 'change', function() {
        var selector = $(this).attr('data-filter');
        $('.isotope-wrapper').isotope({ filter: selector });
    });
    </script>
{% endblock %}